body {
  height: 300vh;
  background-color: #b8e3f2;
}

#all_navs {
  display: flex; 
  flex-direction: column;
}
#nav1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #3697DD;
  padding-left: 15px;
  padding-top: 15px;
}
#nav1 a {
  padding-left: 20px;
}
#nav2 {
  display: flex;
  flex-direction: column;
  background-color: #3697DD;
  height: 100%;
}
#nav2 a {
  padding-top: 20px;
  width: 150px;

}
#content{
  width:100%;
  text-align:center;
}
#div2{
  display:flex;
  flex-direction: row;
  height: calc(100% - 40px);
  width:100%;
}
#logo {
  width: auto;
  height: 100px;
  background-color: #3697DD;
}
#div{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.pictures{
  max-height: 500px;
  max-width: 500px;
  padding: 20px;
}

#cartPic{
	max-height: 50px;
	max-width: 50px;
	padding-left:775px;
}
#recipes img {
  display: flex;
  align-self: center;
  height: 10%;
  width: 25%;
  box-shadow: 0px 0px 4px black;
  border-radius: 4px;
  padding: 16px;
}
#recipes {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin: 10px;
}
#coupons img {
  display: flex;
  align-self: center;
  height: auto;
  width: 50%;
  box-shadow: 0px 0px 4px black;
  border-radius: 4px;
  padding: 20px;
}

#coupons {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 10px;
}
h1,h2{
	text-align: center;
}

@media only screen and (max-width: 399px){
  #logo{
    width: 68px;
    height: 68px;
  }
  #nav1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #3697DD;
  padding-left: 5px;
  padding-top: 5px;
	}
#nav1 a {
  padding-left: 3px;
}
  .pictures{
  	min-height: 100px;
   	min-width: 100px;
   	max-height: 100px;
   	max-width: 100px;
   }
   #nav2 {
  display: flex;
  flex-direction: column;
  background-color: #3697DD;
  height: 100%;
}
#nav2 a {
  padding-top: 10px;
  width: 75px;

}
.headlinks{
    font-size: 16px;
  }
  .sidelinks{
    width: 90px;
  }
  #cartPic{
	max-height: 30px;
	max-width: 30px;
	padding-left:775px;
}
img{
	height: 50px;
	width: 50px;
}
}
@media only screen and (min-width: 400px) and (max-width: 998px){
	.logo{
    width: 30px;
    height: 30px;
    float: right;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #3697DD;
      border-top: 1px solid grey;
      border-bottom: 1px;
      height: 125px;
  }
  footer{
    height: 50px;
  }
  .col{
    width: 33.33%;
    }
    img{
      height: 100px;
      width: 100px;
    }
}
@media only screen and (min-width: 999px){
	.logo{
    width: 25px;
    height: 25px;
    float: right;
  }
  ul {
      height: 100px;
  }
  .headlinks{
    font-size: 16px;
  }
  .sidelinks{
    width: 90px;
  }
  footer{
    height: 50px;
  }
  .col{
    width: 50%;
    }
}
