head {
  display: flex;
  background-color: #3697DD;
  align-items: center;
  padding-top: 150px;
}
h1{
  color: navy;
  text-align: center;
  font-size: 36px;
}
ul{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: grey;
}
li{
  padding: 20px;
  color: grey;
}
footer{
  display: flex;
  background-color: #3697DD;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 20px;
}
a{
  padding: 15px;
  color:navy;
  text-decoration: none;
}
.headlinks{
  font-size: 20px;
}
